{include="header"}


<br/>

<div class="container">
   <div class="row">
      <div class="col-xs-6">
         <a href="index.php?page=patrones_imp_prov&nuevo=true" class="btn btn-sm btn-default" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
         <a href="index.php?page=patrones_imp_prov" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Atrás
         </a>
      </div>
      <div class="col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Resultado del patron</h2>
      </div>
   </div>
    
            <div class="col-xs-2 text-right">
                Codificacion:{$fsc->patron->nom_codificacion($fsc->patron->codificacion)}
            </div>
            <div class="col-xs-2 text-right">
                Extension:{$fsc->patron->nom_extension($fsc->patron->extension)}
            </div>
            <div class="col-xs-4 text-right">
                Proveedor:{$fsc->patron->nom_proveedor($fsc->patron->codproveedor)}
            </div>
            <div class="col-xs-2 text-right">
                Recargo:{$fsc->patron->recargo}
            </div>
            <div class="col-xs-2 text-right">
                Separador:{$fsc->patron->separador}
            </div>
            
            <form enctype='multipart/form-data' action="index.php?page=patrones_imp_prov&agrega_patron=true"
                  method="post">
                <input type="hidden" value="{$fsc->patron->codificacion}" name="codificacion">
                <input type="hidden" value="{$fsc->patron->extension}" name="extension">
                <input type="hidden" value="{$fsc->patron->codproveedor}" name="codproveedor">
                <input type="hidden" value="{$fsc->patron->recargo}" name="recargo">
                <input type="hidden" value="{$fsc->patron->separador}" name="separador">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Cabeceras
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                            <thead>
                              <tr>
                              {loop="fsc->cabecera_archivo"}
                              <th>
                              {$value}
                              </th>
                             {/loop}
                              </tr>
                            </thead>
                            <tbody>
                            <tr>
                               {$fsc->aux=0}
                               {loop="fsc->cabecera_archivo"}
                              <td>
                              <select name="cabecera_{$fsc->aux}" class="form-control" style="width: 200px;">
                                    {$fsc->cabecera=$value}
                                    {loop="fsc->listar_campos()"}
               
                                    <option value="{$value['id_campo']}">{$value['nombre_campo']}</option>

                                    {/loop}
                              </select>
                               {$fsc->aux=$fsc->aux+1}
                              </td>
                             {/loop} 
                            </tr>
                            {loop="fsc->listado"}
                            <tr>
                               {loop="$value1"}
                              <td>
                              {$value2}
                              </td>
                             {/loop} 
                            </tr>
                            {/loop} 
                            </tbody>
                            </table>
                            
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-sm-2">
                                <button class="btn btn-sm btn-primary" type="submit"
                                        onclick="this.disabled =true;this.form.submit();" title="Procesar">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    &nbsp; Guardar
                                </button>
                        </div>
                    </div>
            </form>


</div>

{include="footer"}