{include="header"}


<br/>

<div class="container">
   <div class="row">
      <div class="col-xs-6">
         <a href="index.php?page=importador_proveedores" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Atrás
         </a>
      </div>
      <div class="col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Importación de {$fsc->patron->nom_proveedor($fsc->patron->codproveedor)}</h2>
      </div>
   </div>
    
            <div class="col-xs-2 text-right">
                Codificacion:{$fsc->patron->nom_codificacion($fsc->patron->codificacion)}
            </div>
            <div class="col-xs-2 text-right">
                Extension:{$fsc->patron->nom_extension($fsc->patron->extension)}
            </div>
            <div class="col-xs-4 text-right">
                Proveedor:{$fsc->patron->nom_proveedor($fsc->patron->codproveedor)}
            </div>
            <div class="col-xs-2 text-right">
                Recargo:{$fsc->patron->recargo}
            </div>
            <div class="col-xs-2 text-right">
                Separador:{$fsc->patron->separador}
            </div>
            
            <form enctype='multipart/form-data' action="index.php?page=importador_proveedores&importar=true"
                  method="post">
                <input type="hidden" value="{$fsc->codproveedor}" name="codproveedor">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Cabeceras
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                            <thead>
                              <tr>
                              <th>
                              Cabeceras       
                              </th>
                              {loop="fsc->cabeceras"}
                              <th>
                               {$fsc->traducciones[$value->campo]}
                              
                              </th>
                             {/loop}
                              </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td>Campo</td>
                              {loop="fsc->cabeceras"}
                              <td>
                              {$value->campo}
                              </td>
                             {/loop}
                              </tr>
                            {loop="fsc->listado"}
                            {$fsc->dato=$value}
                            <tr>
                              <td>Resultado</td>
                              {loop="fsc->cabeceras"}
                              <td>
                              {$fsc->dato[$value->cabecera]}
                              </td>
                              {/loop}
                            </tr>
                            {/loop} 
                            </tbody>
                            </table>
                            
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-sm-2">
                                <button class="btn btn-sm btn-primary" type="submit"
                                        onclick="this.disabled =true;this.form.submit();" title="Procesar">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    &nbsp; Guardar
                                </button>
                        </div>
                    </div>
            </form>


</div>

{include="footer"}