{include="header"}
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-sm-6">
            <div class="btn-group hidden-xs">
                <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
                <a class="btn btn-sm btn-default" href="index.php?page=opciones_imp_prov" title="Recargar la página">
                    <span class="glyphicon glyphicon-cog"> Margenes</span>
                </a>
                <a class="btn btn-sm btn-default" href="index.php?page=redondeos" title="Recargar la página">
                    <span class="glyphicon glyphicon-cog"> Redondeos</span>
                </a>
                <a class="btn btn-sm btn-default" href="index.php?page=patrones_imp_prov" title="Recargar la página">
                    <span class="glyphicon glyphicon-paperclip"> Patrones</span>
                </a>
                {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                  {/if}
               {/loop}
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <h2 style="margin-top: 0px;">{$fsc->page->title}</h2>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <form enctype='multipart/form-data' action="index.php?page=importador_proveedores&nueva_importacion=true"
                  method="post">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Selecciona el archivo a procesar.
                        </div>
                        <div class="panel-body">
                            <div class="form-group col-lg-7 col-md-7 col-sm-7">
                                <input type='hidden' name='archivo' value='TRUE'/>
                                <br/>
                                <input class="form-control" name="archivo" type="file">
                            </div>
                            <div class="form-group col-lg-3 col-md-3 col-sm-3">
                            Proveedor:
                                <select name="codproveedor" class="form-control">
                                {loop="fsc->prov_in()"}
               
                                <option value="{$value->codproveedor}">{$value->nombre}</option>

                                {/loop}
                                </select>
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-2">
                                <br/>
                                <button class="btn btn-sm btn-primary" type="submit"
                                        onclick="this.disabled =true;this.form.submit();" title="Procesar">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    &nbsp; Procesar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
             </form>       
        </div>
    </div>
</div>          
    



{include="footer"}
