{include="header"}


<br/>

<div class="container">
   <div class="row">
      <div class="col-xs-6">
         <a href="index.php?page=patrones_imp_prov&nuevo_patron=true" class="btn btn-sm btn-default" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
         <a href="index.php?page=patrones_imp_prov" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Atrás
         </a>
      </div>
      <div class="col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Nuevo patron</h2>
      </div>
   </div>
    
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <form enctype='multipart/form-data' action="index.php?page=patrones_imp_prov&nuevo_patron=true"
                  method="post">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Selecciona el archivo a procesar.
                        </div>
                        <div class="panel-body">
                            <div class="form-group col-lg-10 col-md-10 col-sm-10">
                                <input type='hidden' name='archivo' value='TRUE'/>
                                <input class="form-control" name="archivo" type="file">
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-2">
                                <button class="btn btn-sm btn-primary" type="submit"
                                        onclick="this.disabled =true;this.form.submit();" title="Procesar">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    &nbsp; Procesar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-2">
         <div class="form-group">
            Codificacion:
            <select name="codificacion" class="form-control">
               {loop="fsc->listar_codificaciones()"}
               <option value="{$value['id_codificacion']}">{$value['nombre_codificacion']}</option>
               {/loop}
            </select>
         </div>
     
      </div>
      <div class="col-md-2">
         <div class="form-group">
            Extension del archivo:
            <select name="extension" class="form-control">
               {loop="fsc->listar_extensiones()"}
               
               <option value="{$value['id_extension']}">{$value['nombre_extension']}</option>

               {/loop}
            </select>
         </div>
     
      </div>
    <div class="col-md-3">
         <div class="form-group">
            Proveedor:
            <select name="codproveedor" class="form-control">
               {loop="fsc->prov_not_in()"}
               
               <option value="{$value->codproveedor}">{$value->nombre}</option>

               {/loop}
            </select>
         </div>
      </div>
       <div class="col-md-2">
         <div class="form-group">
            Recargo:
            <input type="text" name="recargo" value="0" class="form-control" autocomplete="off"/>
         </div>
         
      </div>
                <div class="col-md-2">
         <div class="form-group">
            Separador:
            <input type="text" name="separador" value=";" class="form-control" autocomplete="off"/>
         </div>
      </div>
       </form>
        </div>
    </div>          
    

    </div>
 </div>
 

{include="footer"}