{include="header"}
<script type="text/javascript">
   function eliminar_patron(id)
   {
      if( confirm("¿Realmente desea eliminar el id "+id+"?") )
         window.location.href = '{$fsc->url()}&delete_patron='+id+'#margenes';
   }
   /*$(document).ready(function () {
      if(window.location.hash.substring(1) == 'estados')
      {
         $('#tab_opciones a[href="#estados"]').tab('show');
      }
   });*/
</script>

<br/>

<div class="container">
   <div class="row">
      <div class="col-xs-6">
         <a href="{$fsc->url()}" class="btn btn-sm btn-default" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
         <a href="index.php?page=importador_proveedores" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Atrás
         </a>
         <a href="index.php?page=patrones_imp_prov&nuevo_patron=true" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-plus"></span> &nbsp; Nuevo
         </a>
      </div>
      <div class="col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Patrones de importación</h2>
      </div>
   </div>
    <div class="row">
      <div class="col-sm-12">
         <ul id="tab_opciones" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
               <a href="#margenes" aria-controls="margenes" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp; Lista
               </a>
            </li>
            
      </div>
   </div>
   <div role="tabpanel" class="tab-pane" id="margenes">
         <div class="table-responsive">
            <table class="table">
               <thead>
                  <tr>
                     <th class="text-left">Id</th>
                     <th class="text-left">Proveedor</th>
                     <th class="text-left">Codificacion</th>
                     <th class="text-left">Recargo</th>
                     <th class="text-left">Separador</th>
                     <th class="text-left">Extension</th>
                  </tr>
               </thead>
               {loop="$fsc->patron->all()"}
               <form action="{$fsc->url()}#margenes" method="post" class="form">
                  <input type="hidden" name="coste" value="{$value->id}"/>
                  <tr>
                     <td><div>{$value->id}</div></td>
                     <td><div>{$fsc->patron->nom_proveedor($value->codproveedor)}</div></td>
                     <td><div>{$fsc->patron->nom_codificacion($value->codificacion)}</div></td>
                     <td><div>{$value->recargo}</div></td>
                     <td><div>{$value->separador}</div></td>
                     <td><div>{$fsc->patron->nom_extension($value->extension)}</div></td>
                     <td class="text-right">
                        <div class="btn-group">
                           <a class="btn btn-sm btn-danger" href="#" onclick="eliminar_patron('{$value->id}')" title="Eliminar">
                              <span class="glyphicon glyphicon-trash"></span>
                           </a>
                        </div>
                     </td>
                  </tr>
               </form>
               {/loop}
       
            </table>
         </div>
      </div>

</div>

{include="footer"}