{include="header"}
<script type="text/javascript" src="plugins/SAT/view/jscolor/jscolor.js"></script>
<script type="text/javascript">
   function eliminar_redondeo(decimales)
   {
      if( confirm("¿Realmente desea eliminar el redondeo "+decimales+"?") )
         window.location.href = '{$fsc->url()}&delete_redondeo='+decimales+'#redondeoes';
   }
   /*$(document).ready(function () {
      if(window.location.hash.substring(1) == 'estados')
      {
         $('#tab_opciones a[href="#estados"]').tab('show');
      }
   });*/
</script>

<br/>

<div class="container">
   <div class="row">
      <div class="col-xs-6">
         <a href="{$fsc->url()}" class="btn btn-sm btn-default" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
         <a href="index.php?page=importador_proveedores" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Atrás
         </a>
      </div>
      <div class="col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Opciones</h2>
      </div>
   </div>
    <div class="row">
      <div class="col-sm-12">
         <ul id="tab_opciones" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
               <a href="#redondeos" aria-controls="redondeos" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp; Redondeos
               </a>
            </li>
            
      </div>
   </div>
   <div role="tabpanel" class="tab-pane" id="redondeos">
         <div class="table-responsive">
            <table class="table">
               <thead>
                  <tr>
                     <th class="text-left">decimales</th>
                     <th class="text-left">Redondeo</th>
                  </tr>
               </thead>
               {loop="$fsc->redondeo->all()"}
               <form action="{$fsc->url()}#redondeos" method="post" class="form">
                  <input type="hidden" name="decimales" value="{$value->decimales}"/>
                  <tr>
                     <td><div class="form-control">{$value->decimales}</div></td>
                     <td><input type="text" name="redondeo" value="{$value->redondeo}" class="form-control" autocomplete="off"/></td>
                     
                     <td class="text-right">
                        <div class="btn-group">
                           <a class="btn btn-sm btn-danger" href="#" onclick="eliminar_redondeo('{$value->decimales}')" title="Eliminar">
                              <span class="glyphicon glyphicon-trash"></span>
                           </a>

                           <button type="submit" class="btn btn-sm btn-primary" onclick="this.disabled = true;this.form.submit();" title="Guardar">
                              <span class="glyphicon glyphicon-floppy-disk"></span>
                           </button>
                        </div>
                     </td>
                  </tr>
               </form>
               {/loop}
               <form action="{$fsc->url()}#redondeos" method="post" class="form">
                  <tr class="bg-info">
                     <td><input type="text" name="decimales" value="" class="form-control" autocomplete="off"/></td>
                     <td><input type="text" name="redondeo" value="" class="form-control" autocomplete="off"/></td>
                     <td class="text-right">
                        <div class="btn-group">
                           <button type="submit" class="btn btn-sm btn-primary" onclick="this.disabled = true;this.form.submit();" title="Guardar">
                              <span class="glyphicon glyphicon-floppy-disk"></span>
                           </button>
                        </div>
                     </td>
                  </tr>
               </form>
            </table>
         </div>
      </div>

</div>

{include="footer"}