{include="header"}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {$fsc->porcentaje}%">
    <span>{$fsc->porcentaje}% completado</span>
  </div>
</div>

{include="footer"}
<script type="text/javascript">
  window.location.href="index.php?page=importador_proveedores&codproveedor={$fsc->codproveedor}&importar=true&inicio={$fsc->inicio}&final={$fsc->final}&numItems={$fsc->numItems}";
</script>
