{include="header"}
<div class="progress">
    Completado
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {$fsc->porcentaje}%;">
    <span>{$fsc->porcentaje}% completado</span>
  </div>
</div>
{include="footer"}